---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import HomeExploreTags from "../components/home/HomeExploreTags.astro";
import HomeHero from "../components/home/HomeHero.astro";
import HomeLatestPosts from "../components/home/HomeLatestPosts.astro";
import RPFrame from "../layouts/RPFrame.astro";
import {
	HOME_LATEST_POSTS_LIMIT,
	HOME_TOP_TAGS_LIMIT,
	SITE_DESCRIPTION,
	SITE_TITLE,
} from "../consts";
import {
	getLatestPostHref,
	getLatestPosts,
	getPublishedPosts,
	getTopTags,
} from "../utils/blog";

const rawPosts = await getCollection("blog");
const posts = getPublishedPosts(rawPosts);

const latestPosts = getLatestPosts(posts, HOME_LATEST_POSTS_LIMIT);
const latestHref = getLatestPostHref(posts);
const topTags = getTopTags(posts, HOME_TOP_TAGS_LIMIT);
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<RPFrame frameClass="rp-frameBody" contentClass="rp-homeLayout">
			<HomeHero latestHref={latestHref} />
			<HomeLatestPosts posts={latestPosts} />
			<HomeExploreTags tags={topTags} />
		</RPFrame>
	</body>
</html>